* {
  box-sizing: border-box;
  margin: 0 auto;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.4em;
  background-color: #f1f1f1;
}
a, a:hover, a:active, a:focus {    
  text-decoration: none; 
  color: inherit; 
}


/****************/
/*     LOGO     */
/****************/
.title {
      margin: 0 auto;
      font-size: 7rem;
      /*font-family: 'matilderegular';*/
      font-family: 'Spirax', cursive;
      position:relative;
      
      /* Gradient Effects */
      background: -webkit-linear-gradient(left, #6a246a 50%, #3c80a3);
      background: -o-linear-gradient(left, #6a246a 50%, #3c80a3);
      background: linear-gradient(to right, #6a246a 50%, #3c80a3);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    /* Animation Effects */
    .animated {
      margin-top:15px;
      animation-duration: 4s;
      animation-delay: 1s;
    }









/* Style the header */
header {
display: flex;
    justify-content: center;
  align-items: center;


  font-family: 'Spirax', cursive;
  /*text-align: center;*/
  font-size: 1.5rem;
  color: #f1f1f1;;
  padding-bottom: 0;
  margin-bottom: 0;
}
/* Header colours */
.section-1 { background-color: #ce4c6e; }
.section-2 { background-color: #3c80a3; }
.section-3 { background-color: #784970; }
.section-4 { background-color: #51a689; }

/* Slanted Divs */
.slanted {
  padding-top: 0;
  margin-top: 0;
  border-bottom: 70px solid transparent;
}
.slanted-1 { border-left: 98vw solid #ce4c6e; }
.slanted-2 { border-right: 98vw solid #3c80a3; }
.slanted-3 { border-left: 98vw solid #784970; }
.slanted-4 { border-right: 98vw solid #51a689; }

/* Container for flexboxes */
section {
  display: flex;
}

/* Style the content */
article {
  -webkit-flex: 1; /* was originally 2? */
  -ms-flex: 1;
  flex: 1;
  margin: 20px 50px;

  justify-content: center;
  align-items: center;
}
p {
  margin: 10px 0;
}
ul {
    display: block;
    list-style-type: none;
    padding: 0;
}
li {
  padding: 10px 0 0 20px;
}
/* Style the footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  font-size: 1rem;
  text-align: center;
  color: #6c757d;
}
footer a:hover, footer a:active, footer a:focus {  text-shadow: 1px 1px 1px rgba(150, 150, 150, 1); }

/* FONT AWESOME */
.fa-user, .fa-envelope, .fa-pencil-alt { padding-right: 10px; font-size: 1.5rem; }
.fa-user { color: #3c80a3; }
.fa-envelope { color: #51a689; }
.fa-pencil-alt { color: #784970; }
.emoji { font-family: 'emojisymbolsregular', cursive; background-color: #51a689; }

.padLeft { padding-left: 35px; }

.skills {
  display: flex;
  justify-content: center;
}
.skills article { align-self: flex-start; }
.skills .about-btn { justify-content: center; margin: 10px 0 15px 0; }


/* SCROLL TO TOP BUTTON */
#scrollTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  /*font-size: 3rem;*/
  color: #ce4c6e;
  background: transparent;
}

/*#scrollTopBtn:hover {
  background-color: #555;
}*/
/* Tooltip text */
.scrollTooltip {
  visibility: hidden;
  width: 120px;
  text-align: center;
  padding: 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;


    /*font-family: 'geosanslightregular';*/
  font-size: 1.5em;
  background-color: transparent; 
  color: #ce4c6e;

  /*center top */
  /*width: 120px;*/
  bottom: 100%;
  left: 50%; 
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

/* Show the tooltip text when you mouse over the tooltip container */
#scrollTopBtn:hover .scrollTooltip {
  visibility: visible;
}



* {
  box-sizing: border-box;
}


/*************************************/
/***     PORTFOLIO FILTER CODE     ***/
/*************************************/
.skills a, #gallery-filter a { color: #f1f1f1; }
.flex-grid {
  display:flex;
  flex-wrap: wrap;
}
#gallery-filter {
  display: flex;
  justify-content: center;
}

.gallery-item {
  padding: 8px;
  width: 33.33%;
  display: none; /* Hide all elements by default */
}

.gallery-item img {
  width: 100%;
}

/* The "show" class is added to the filtered elements */
.filter-show {
  display: block;
}

/* PORTFOLIO FILTER BUTTON STYlING */
.about-btn {
  border-radius: .5em;
}
.filter-btn, .about-btn {
  margin: 0;
  padding: 12px 16px;
  height: 2em;
  font-family: inherit;
  font-size: 1em;
  letter-spacing: 1px;
  font-weight: 400;
  border: none;
  outline: none;
  cursor: pointer;
  /*color: #f1f1f1;*/
  background-color: rgba(120, 73, 112, 0.7); /*#784970  */ 
  text-decoration: none;
  overflow: hidden;
}
.filter-btn:nth-child(1) { border-radius: .5em 0 0 .5em; }
.filter-btn:nth-child(4) { border-radius: 0 .5em .5em 0; }

.filter-btn:hover,
.filter-btn:focus {
  outline: none;
}
.filter-btn span, .about-btn span {
  position: relative;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.about-btn span::before {
  /*center icon as position is absolute*/
  left: calc((100% - 1em)/2);

}
.filter-btn span::before, .about-btn span::before {
  position: absolute;
  top: 100%;
  font-weight: 700;
  text-shadow: 0 0 1px rgba(255,255,255,0.3);
  -webkit-transform: translate3d(0,100%,0);
  -moz-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}
.filter-btn span::before { content: attr(data-hover); }


.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.cv:before { 
  /*color: #f1f1f1;*/
  font: 1em FontAwesome; 
  font-weight: 900; 
  text-align: center;
  content: "\f15c"; }

/*.about-btn span::before { content: attr(data-hover); }*/
/* Applies the hover effect to all but 'active' class*/
.filter-btn:hover:not(.active) span,
.filter-btn:focus span,
.about-btn:hover span,
.about-btn:focus span {
  -webkit-transform: translateY(-200%);
  -moz-transform: translateY(-200%);
  transform: translateY(-200%);
}

.filter-btn.active {
  font-weight: 700;
  text-shadow: 0 0 1px rgba(255,255,255,0.3);
  background-color: rgba(120, 73, 112, 0.8); /*#784970  */ 
  /*color: #f1f1f1;*/
}


/*If Javascript is disabled - message styling*/
#gallery__filters__message {   
  color: #f1f1f1; 
  background-color: rgba(120, 73, 112, 0.7); /*#784970  */  
  padding: 10px; 
}

/* Common style */
.gallery-item figure {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  margin: 10px 1%;
  text-align: center;
  cursor: pointer;
}

.gallery-item figure figcaption {
  padding: 2em;
  color: #f1f1f1;
  text-transform: uppercase;
  font-size: 1rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.gallery-item figure figcaption::before,
.gallery-item figure figcaption::after {
  pointer-events: none;
}

.gallery-item figure figcaption,
.gallery-item figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.gallery-item figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.gallery-item figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
}

.gallery-item figure h2 span {
  font-weight: 800;
}

.gallery-item figure h2,
.gallery-item figure p {
  margin: 0;
}

.gallery-item figure p {
  letter-spacing: 1px;
  font-size: .85em;
}

/*---------------------------*/
/***** Milo hover effect *****/
/*---------------------------*/

figure.effect-milo {
  /*CHANGE TO PORTFOLIO COLOR!!!  OR MONOCHROME*/
  background: #784970;
}

figure.effect-milo img {
  max-width: none;
  width: -webkit-calc(100% + 60px);
  width: calc(100% + 60px);
  opacity: 1;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;

  -webkit-transform: translate3d(-30px,0,0) scale(1.12);
  transform: translate3d(-30px,0,0) scale(1.12);
  
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

figure.effect-milo:hover img {
  opacity: 0.3;
  -webkit-transform: translate3d(0,0,0) scale(1);
  transform: translate3d(0,0,0) scale(1);
}

figure.effect-milo h2 {
  position: absolute;
  right: 15%;
  bottom: 1%;
  padding: 1em 1.2em;
}

figure.effect-milo p {
  padding: 0 10px 0 0;
  width: 50%;
  border-right: 1px solid #fff;
  text-align: right;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-40px,0,0);
  transform: translate3d(-40px,0,0);
}

figure.effect-milo:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}




/******************************/
/***     MEDIA QUERIES      ***/
/******************************/
@media (max-width : 800px)
{
    .gallery-item {
        flex-basis : 50%;
    }
}

@media (max-width : 600px)
{
    .gallery-item {
        flex-basis : 100%;
    }
}



/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  /*FIX ALL FONTS!!!*/
  .title {
    font-size: 4rem;
  }
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}