body {
	font: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
    /* adds the first color towards right with starting color red, end color yellow */
	background: linear-gradient(to right, #F10A14 , #CB14BC;) /* Standard syntax */
}

h1 {
    font: 600 3.5em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}

h3 {
	font: 900 1em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;

}

input {
    border-radius: 100%;
    background: none;
    border: none;
    width: 4rem;
    height: 4rem;
    margin: 1rem;
    filter: drop-shadow(0 0 10px rgba(0,0,0,0.5));
    animation: buttonPulse 2s ease infinite;
}

input::-webkit-color-swatch {
  border: none;
  border-radius: 100%;
  padding: 0px;
}

input::-webkit-color-swatch-wrapper {
  border: none;
  border-radius: 100%;
  padding: 0;
}


button {
    margin: 30px 0;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1em;
    font-family: 'Exo', sans-serif;
    border: none;
    filter: drop-shadow(0 0 5px rgba(0,0,0,0.5));
    color: rgba(255,255,255,1);
    background: rgba(0,0,0,0.5);
    animation: buttonPulse 2s ease infinite;
    transition: color 0.75s ease;
}

button:hover {
    color: rgba(255,164,24);
}


@keyframes buttonPulse {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.25);
  }

  100% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
}